
.vs/PcCleaner/DesignTimeBuild/.dtbcache.v2
.vs/PcCleaner/FileContentIndex/49e67392-179e-4be4-aa21-b4effe511e5c.vsidx
.vs/PcCleaner/FileContentIndex/a0526594-11a0-4149-8928-422f863c63d9.vsidx
.vs/PcCleaner/FileContentIndex/a796e3ad-d321-4425-a334-13b77f20d47c.vsidx
.vs/PcCleaner/FileContentIndex/cd8efd83-da2a-4894-8374-593bb20482ce.vsidx
.vs/PcCleaner/FileContentIndex/d856c86e-2e8c-4429-afca-353c5cbf76fe.vsidx
.vs/PcCleaner/v17/.futdcache.v2
.vs/PcCleaner/v17/.suo
.vs/PcCleaner/v17/DocumentLayout.json
.vs/ProjectEvaluation/pccleaner.metadata.v7.bin
.vs/ProjectEvaluation/pccleaner.projects.v7.bin
