# Ignore les fichiers et répertoires générés par Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user
*.resharper
obj/
bin/

# Ignore les fichiers et répertoires générés par NuGet
packages/
*.nupkg

# Ignore les fichiers et répertoires générés par MSBuild
*.log
*.cache
*.tlog
*.vspscc

# Ignore les fichiers et répertoires générés par le débogage
AppData/
Debug/
Release/

# Ignore les fichiers et répertoires générés par l'éditeur de ressources
Resource.Designer.cs
Resources/Resource.resx

# Ignore les fichiers et répertoires générés par le contrôle de code source
.vs/
*.vssscc
